<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Больница</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Пациенты</h1>
    <span th:if="${patients.size() == 0}">Список пациентов пуст<br></span>
    <table th:if="${patients.size() > 0}" class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <td><b> Фамилия </b></td>
            <td><b> Имя </b></td>
            <td><b>Отчество</b></td>
            <td><b>Действия</b></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient : ${patients}">
            <td th:text="${patient.lastName}"/>
            <td th:text="${patient.firstName}"/>
            <td th:text="${patient.patr}"/>
            <td><a class="btn btn-info" th:href="@{'/patients/details/' +
${patient.id}}">Информация</a></td>
            <td><a class="btn btn-warning" th:href="@{'/patients/update/' +
${patient.id}}">Редактировать</a></td>
            <td><a class="btn btn-danger" th:href="@{'/patients/delete/' +
${patient.id}}">Удалить</a></td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-secondary" th:href="@{'/patients/new'}">Добавить пациента</a>
</div>
</body>
</html>