<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Новый пациент</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/navbars :: navbarFragment"/>
<div class="container">
    <h1>Форма информации о пациенте</h1>
    <form action="#" th:action="@{/patients/new}" th:object="${patient}"
          method="post">
        <input type="hidden" th:field="*{id}"/>
        <p>Фамилия:
            <input type="text" placeholder="Введите фамилию" th:field="*{lastName}" pattern="[A-Za-zА-Яа-яЁё]+" required="required"/></p>
        <p>Имя:
            <input type="text" placeholder="Введите имя" th:field="*{firstName}" pattern="[A-Za-zА-Яа-яЁё]+" required="required"/></p>
        <p>Отчество:
            <input type="text" placeholder="Введите отчество" th:field="*{patr}" pattern="[A-Za-zА-Яа-яЁё]*"/></p>
        <p>Дата рождения:
            <input type="date" placeholder="Введите дату" th:field="*{birthDate}" required="required"/></p>
        <p>Область:
            <input type="text" placeholder="Введите название области" th:field="*{area}" pattern="[A-Za-zА-Яа-яЁё]+" required="required"/></p>
        <p>Город:
            <input type="text" placeholder="Введите название города" th:field="*{city}" pattern="[A-Za-zА-Яа-яЁё]+" required="required"/></p>
        <p>Дом:
            <input type="text" placeholder="Введите номер дома" th:field="*{house}" pattern="[A-Za-zА-Яа-яЁё0-9]+" required="required"/></p>
        <p>Квартира:
            <input type="text" placeholder="Введите номер квартиры (при наличии)" th:field="*{apartment}" pattern="[0-9]*"/></p>

        <p><input type="submit" value="Отправить"/>
            <input type="reset" value="Сброс" th:onclick="'window.location.href = \'/patients/main\''"/></p>
    </form>
</div>
</body>
</html>